Makefile.in

/missing
/install-sh
/depcomp
/configure
/config.h.in
/compile
/autom4te.cache/
/aclocal.m4

/stamp-h1
/src/Makefile
/src/.deps/
/Makefile
/config.status
/config.log
/config.h.in~
/config.h

*.o

/src/raspifpvrx

/config.sub
/config.guess
